{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "ecmaFeatures": {
    "blockBindings": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-param-reassign": [2, { "props": false }],
    "arrow-body-style": [2, "always"],
    "no-unused-vars": 1,
    "new-cap": 0,
    "consistent-return": 0,
    "padded-blocks": 1,
    "no-case-declarations": 0,
    "prefer-template": 0
  },
  "env": {
      "browser": true,
      "node": true
  }
}
