body {
  background: #fafafa;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;

  .grid-image-container {
    margin: 5px;
    border: 1px solid $light-grey;
    flex-basis: 3;
    width: 300px;
    height: 300px;
    transition: all 100ms ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.005);
      border-color: $mid-grey;
    }
  }

  .grid-image {
    width: 300px;
    height: 300px;
  }
}

.selector-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .film-selector {
    width: $select-width;
    height: $select-height;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    display: block;
    border-color: transparent;
    background-color: #ccc;
    font-size: 1rem;
  }
}
