html {
  position: relative;
}

body {
  background: #fafafa;
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 100px;
  justify-content: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .grid-image-container {
    margin: 10px;
    border: 1px solid $light-grey;
    transition: all 100ms ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.005);
      border-color: $mid-grey;
    }
  }

  .grid-image {
    width: 300px;
    height: 300px;
    background-size: cover;
  }

  .grid-film-description {
    display: flex;
    margin-top: 5em;
    background-color: $light-grey;
    color: $mid-grey;
    padding: 2em;
    justify-content: center;
    align-items: center;
    font-family: 'Martel';
    font-weight: 200;
    font-size: 0.75em;
    letter-spacing: 1px;
    box-shadow: 0px -3px 5px 0px rgba(100, 100, 100, 0.49);
    width: 100%;

    p {
      text-align: justify;
      max-width: 600px;
    }
  }
}

.selector-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .film-selector {
    width: $select-width;
    height: $select-height;
    cursor: pointer;
    display: block;
    background-color: black;
    font-size: 1rem;
  }
}
