// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

#next-film-arrow {
  background-color: $next-film-bg;
  font-size: 0.75rem;
  padding: 1em;
  margin-top: 1em;
  text-transform: uppercase;
  font-family: 'Arvo';
  cursor: pointer;
  color: $current-film-text;
  border-radius: 5px;

  &:hover {
    background-color: $current-film-hover
  }
}
