// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -4px 10px 0px rgba(100, 100, 100, 1);
  z-index: 1000;
}

.footer-container {
  align-items: center;
  font-family: 'Arvo';
  background-color: $mid-grey;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 30px;
}
