// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;

  #nav-title {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1rem;
    font-size: 3rem;
    color: $med-slate-04;
  }

  #current-film {
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
  }
}
